In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
df=pd.read_csv("house-prices.csv")

In [3]:
df.head(20)

    Home   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0      1  114300  1790         2          2       2    No         East
1      2  114200  2030         4          2       3    No         East
2      3  114800  1740         3          2       1    No         East
3      4   94700  1980         3          2       3    No         East
4      5  119800  2130         3          3       3    No         East
5      6  114600  1780         3          2       2    No        North
6      7  151600  1830         3          3       3   Yes         West
7      8  150700  2160         4          2       2    No         West
8      9  119200  2110         4          2       3    No         East
9     10  104000  1730         3          3       3    No         East
10    11  132500  2030         3          2       3   Yes         East
11    12  123000  1870         2          2       2   Yes         East
12    13  102600  1910         3          2       4    No        North
13    14  126300  2150         3          3       5   Yes        North
14    15  176800  2590         4          3       4    No         West
15    16  145800  1780         4          2       1    No         West
16    17  147100  2190         3          3       4   Yes         East
17    18   83600  1990         3          3       4    No        North
18    19  111400  1700         2          2       1   Yes         East
19    20  167200  1920         3          3       2   Yes         West